<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-label-group mb-3">
            <%= f.input :email,
                label: "Email address",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", id: "inputEmail", placeholder: "Email address" },
                label_html: { for: "inputEmail"} %>
          </div>

          <div class="form-label-group mb-3">
            <%= f.input :password,
                label: "Password",
                required: true,
                input_html: { autocomplete: "current-password", id: "inputPassword" },
                label_html: { for: "inputPassword"} %>
          </div>

          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Remember me</label>
          </div>

          <div class="form-actions col-5 mx-auto">
            <%= f.button :submit, "Sign in", class: "btn btn-lg btn-secondary btn-block rounded-pill text-uppercase" %>
          </div>

          <hr class="my-4">
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>